.link-practica_12{
    background-color: snow;
    color:maroon ;
}
.container{
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex; 
}
/* .container:hover .rotate_place{
    transform: rotate(180deg);
}
.container:hover .circle-rotate{
    transform: rotate(-180deg);
} */
.container_rotate{
    background-color: rgb(84, 82, 82);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: auto;
}
.container_rotate h1{
    position: absolute;
    margin: 100px 100px 100px 80px;
    z-index: 1;
}
.container_rotate::after{
    content:'';
    background-color: white;
    padding: 100px;
    border-radius: 100%;
    position: absolute;
    /*DIVIDI 250 / 10 = 25PX*/
    margin: 25px 25px 25px 25px;
}
.rotate{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: rgb(26, 24, 38);
    transition:all 1s;
}
.container_circle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.container_circle2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container_circle3{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.circle {
    background-color: rgb(100, 100, 100);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition:all 1s;
}
.circle img{
    position: absolute;
    border-radius: 100%;
    width: 40px;
    padding: 5px;
}
.c4, .c5 {    
    margin: 0 -39px 0 -39px;
}
.c2 {
    margin: -39px 0;
}
.c7 {
    margin: 39px 0;
}
.rotate_place-1{
    transform: rotate(-45deg);
}
.rotate_place-2{
    transform: rotate(-90deg);
}
.rotate_place-3{
    transform: rotate(-135deg);
}
.rotate_place-4{
    transform: rotate(0deg);
}
.rotate_place-5{
    transform: rotate(-180deg);
}
.rotate_place-6{
    transform: rotate(-315deg);
}
.rotate_place-7{
    transform: rotate(-270deg);
}
.rotate_place-8{
    transform: rotate(-225deg);
}
.cards-container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}
.cards{
    margin:10px;
}


.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7; 
}
.hamburger.is-active:hover {
    opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #000; 
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px; 
}
.hamburger-inner::after {
    bottom: -10px; 
}










.hamburger--emphatic {
    overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; 
}
.hamburger--emphatic .hamburger-inner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; 
}
.hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
    left: -80px;
    top: -80px;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.hamburger--emphatic.is-active .hamburger-inner::after {
    right: -80px;
    top: -80px;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
