*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --color-background:#7FC8A9;
    --color-baner:#D5EEBB;
    --color-button:#5F7A61;
    --color-leter:#444941;

}
img{
    max-width: 100%;
    height: auto;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-baner);
}
header img{
    width: 3rem;
    height: auto;
    margin: 5px;
}
.header_content-title{
    text-shadow: 1px 1px 3px var(--color-leter);
    color: var(--color-leter);
}
.header_content-link{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
.header_content-link div{
    margin: 0 5px;    
}
.header_content-link div a{
    text-decoration: none;
    color: var(--color-leter);
    font-weight: bold;
}
/*SEC#1*/
.sec1{
    color: var(--color-leter);
    background-color: var(--color-background);
}
.sec1_content-title{
    text-shadow: 1px 1px 1px var(--color-leter);
    margin-left: 5%;
    padding-top: 30px;
}
.sec1_content-dragYdrop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dragYdrop{
    width: 80%;
    height: 150px;
    border-radius: 30px;
    border: thick dashed var(--color-leter);
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*ANIMACION DROP*/
.dragYdrop-active{
    background-color: var(--color-button);
    color: var(--color-baner);
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}
@keyframes pulse {
    0%{}
    100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
}
/*FIN ANIMACION DROP*/
.sec1_content-inp{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
progress{
    margin-top: 1rem;
}
.sec1_content-par{
    margin: 10px 0;
    max-width: 400px;
    padding: 0 10px;
}
.sec1_content-par p{
    text-align: justify;
}
.sec1_content-img{
    margin-left: 1px;
}
.sec1_content-img img{
    width: 60%;
    height: 290px;
    object-fit: cover;
}
/**FORMULARIO*/
.sec1_content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1_content-form label{
    font-weight: bold;
}
.sec1_content-form input{
    margin-top: 10px;
    width: 60%;
    outline: none;
}
#btn{
    width: auto;
    padding: 4px 6px;
    border-radius: 3px;
}
#btn:active{
    background-color: grey;
    color: honeydew;
}
#textarea{
    margin-top: 10px;
    width: 60%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.sec1_content-form input::placeholder{
    padding: 0 3px;
}
#textarea::placeholder{
    padding: 0 3px;
}
.valid{
    border: solid 1px green;
    background-color: rgb(232, 252, 232);
}
.invalid{
    border: solid 1px red;
    background-color: rgb(255, 246, 246);
}
.alert-error{
    color: red;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px black;
    background-color: rgb(252, 226, 226);
}
.alert-success{
    color: green;
    width: 10rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px black;
    background-color: rgb(209, 250, 209);
}